<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutte le mete</title>
  <link rel="stylesheet" href="Css/home.css">
</head>
<body>
  <div id="nav">
    <a href="/login">LOGIN</a>
    <a href="/logout">LOGOUT</a>
    <a href="/profilo">PROFILO</a>

      <%if(utente){%>
        <p id="ciao"><strong>Ciao <%=utente.nome%> <%=utente.cognome%></strong></p>
      <%}%>
      <form action="/ricerca" method="get">
              CERCA CITTA<input type="search" name="ricerca" placeholder="cerca una città" >
              <button type="submit">CERCA</button>
      </form>

      
  </div>
  <hr>
    <div class="citta">
      
      <%mete.forEach(meta=>{%>
        <a href="/meta/<%=meta.id%>">
          <p><strong><%=meta.nome%></strong></p>
          <p>Posti disponibili: <strong><%=meta.posti_disponibili%></strong></p>
          <img src="<%=meta.foto_url%>" alt="">
        </a>
      <%})%>
    </div>
</body>
</html>